<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Railway Manager System</title>
    <link rel="stylesheet" href="main.component.css">
</head>
<body>
    <div style="margin-left: 150px; margin-right: 150px">
        <div class="menu-area">
            <h1>
                Railway Management System
            </h1>
            <div class="nav" style="text-align: justify">
                <input type="text" name="Start" id="startPoint" placeholder="Start">
                <input type="text" name="Start" id="destPoint" placeholder="Destination">
                <input type="date" name="Start" id="startDate">
                <button pButton
                        label="Submit"
                        type="submit"
                        (click)="submitForm()"
                        class="ui-button-info"
                ></button>
<!--                <a routerLink="/train"><button onclick="submit(startP, dest, date)" name="find">FIND ROUTE</button></a>-->
            </div>
        </div>
    </div>
</body>
</html>
